@import "../../style/constant";

.recentNumWrap {
  display: flex;
  margin: 0 2*$padding1 2*$padding1;
  border-radius: 1.6vw;
  overflow: hidden;
  .recentNumWrapContent {
    margin-right: .533vw;
    flex: 1;
    &:last-child {
      margin-right: 0;
    }
  }
}

.foreignCountriesConfirmChartWrap {
  margin-top: 2*$padding1;
}
.contentWeekConfirmChartWrap {
  margin-top: 2*$padding1;
}
.foreignStatisWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2*$padding1 0;
  align-items: center;
}

.foreignStatisTitle {
  font-size: 4.267vw;
  font-weight: 500;
  color: #222;
}